{# src/Comppi/ProteinSearchBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help/Cite Us{% endblock %}

{% block bundlecontent %}
	<h1><ul class="NavMenu"><li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li><li>Cite Us</li></ul></h1>
	
        <br/>
        <p>To reference the ComPPI database, please cite this paper:</p>
	<p><u>Veres, D.</u>, <u>Gyurko, M. D.</u>, Thaler, B., Szalay, K., Fazekas, D., Korcsmaros, T. and Csermely, P. (2015)
        ComPPI: a cellular compartment-specific database for protein-protein interaction network analysis. Nucleic Acid Res. Database Issue, in press. <!--<a href="http://arxiv.org/abs/1404.4515">http://arxiv.org/abs/1404.4515</a>--> <a href="http://www.linkgroup.hu/docs/15NAR.pdf" style="white-space:nowrap">Download it!<img src="http://www.linkgroup.hu/pic/pdf.gif" alt="PDF format" border="0" /></a></p>
	
	<p class="backToTOC"><a href="{{ path('ComppiDescriptionBundle_help') }}">&#x21e6; Back to Help Table of Contents</a>
        <br/><a href="{{ path('ComppiDescriptionBundle_about') }}">&#x21e6; Back to Starting Page</a></p>
{% endblock %}
